Repository paolodapul/owl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint"
  ],
  "*.{ts,tsx,json}": [
    "prettier --write"
  ]
}

Remove unused tsconfig file
  packages/tsconfig/package.json
Due: prettier --write

Fix node module resolution
  packages/tsconfig/base.json
  packages/tsconfig/react.json
Due: prettier --write

Setup React Router 6
  apps/web/index.tsx
  apps/web/package.json
  yarn.lock
Due: eslint, prettier --write

Fix ESLint environment setting for React
  packages/eslint-config-owl-react/dist/index.js
  packages/eslint-config-owl-react/lib/index.ts
Due: eslint, prettier --write

Configure Tailwind
  apps/web/index.css
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/components/Home/Home.tsx
  apps/web/tailwind.config.js
  yarn.lock
Due: eslint, prettier --write

Setup testing for apps/web
  apps/web/package.json
  apps/web/setupTests.ts
  apps/web/src/components/Home/Home.test.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  yarn.lock
Due: eslint, prettier --write

Install React Query
  apps/web/package.json
  yarn.lock
Due: prettier --write

Install graphql and graphql codegen plugin for React Query
  apps/web/package.json
  yarn.lock
Due: prettier --write

Separate scripts for testing in watch mode and single run mode
  apps/web/package.json
Due: prettier --write

Add path alias for contexts
  apps/web/tsconfig.json
Due: prettier --write

Create React Query provider component
  apps/web/src/components/App/App.tsx
  apps/web/src/contexts/QueryProvider/QueryProvider.tsx
  apps/web/src/contexts/QueryProvider/index.ts
Due: eslint, prettier --write

Create About page
  apps/web/src/components/About/About.tsx
  apps/web/src/components/About/index.ts
Due: eslint, prettier --write

Create 404 page
  apps/web/src/components/NotFound/NotFound.tsx
  apps/web/src/components/NotFound/index.ts
Due: eslint, prettier --write

Configure routes for About page and 404 page
  apps/web/index.tsx
  apps/web/src/components/App/App.tsx
Due: eslint, prettier --write

Setup Prisma
  .gitignore
  apps/server/.env
  apps/server/package.json
  apps/server/prisma/migrations/20221021013815_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/schema.prisma
  yarn.lock
Due: prettier --write

Create a docker-compose file for spinning up pgadmin and postgres servers
  apps/server/docker-compose.yml
Due: none

Create tsconfig for server
  apps/server/tsconfig.json
  packages/tsconfig/node.json
Due: prettier --write

Configure TypeGraphQL
  apps/server/package.json
  apps/server/prisma/schema.prisma
  apps/server/schema.gql
  apps/server/src/app.ts
  yarn.lock
Due: eslint, prettier --write

Setup static asset importing
  apps/web/package.json
  apps/web/src/assets/o.svg
  apps/web/src/components/Home/Home.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  yarn.lock
Due: eslint, prettier --write
